PUSHN 7
START
PUSHS "INTRODUZA UM NUMERO DECIMAL INTEIRO:"
WRITES
WRITELN
READ
ATOI
STOREG 0
PUSHI 2
STOREG 1
PUSHI 9
STOREG 4
PUSHI 1
STOREG 5
JUMP dotestconversor0
dobodyconversor0:
PUSHG 0
PUSHG 1
PUSHI 0
PUSHA unitconvrt
CALL
STOREG 6
POP 2
PUSHG 6
STOREG 2
PUSHS "BASE "
WRITES
PUSHS " "
WRITES
PUSHG 1
WRITEI
PUSHS " "
WRITES
PUSHS ": "
WRITES
PUSHS " "
WRITES
PUSHG 2
WRITEI
WRITELN
lconversor10:
NOP
PUSHG 1
PUSHG 5
ADD
STOREG 1
dotestconversor0:
PUSHG 5
PUSHI 0
SUPEQ
JZ donegconversor0
PUSHG 1
PUSHG 4
INFEQ
JZ doendconversor0
JUMP dobodyconversor0
donegconversor0:
PUSHG 1
PUSHG 4
SUPEQ
JZ doendconversor0
JUMP dobodyconversor0
doendconversor0:
STOP
unitconvrt:
PUSHN 5
PUSHI 0
STOREL 5
PUSHI 1
STOREL 4
PUSHL -3
STOREL 2
lconvrt20:
PUSHL 2
PUSHI 0
SUP
JZ elseconvrt2
PUSHL 2
PUSHL -2
MOD
STOREL 3
PUSHL 5
PUSHL 3
PUSHL 4
MUL
ADD
STOREL 5
PUSHL 2
PUSHL -2
DIV
STOREL 2
PUSHL 4
PUSHI 10
MUL
STOREL 4
JUMP lconvrt20
elseconvrt2:
endifconvrt1:
PUSHL 5
STOREL 1
PUSHL 1
STOREL -1
RETURN
