PUSHN 7
START
PUSHI 1
STOREG 0
PUSHI 5
STOREG 3
PUSHI 1
STOREG 4
JUMP DO_TEST_TABMULT_0
DO_BODY_TABMULT_0:
PUSHI 1
STOREG 1
PUSHI 5
STOREG 5
PUSHI 1
STOREG 6
JUMP DO_TEST_TABMULT_1
DO_BODY_TABMULT_1:
PUSHG 0
PUSHG 1
MUL
STOREG 2
PUSHG 0
WRITEI
PUSHS " "
WRITES
PUSHS " x "
WRITES
PUSHS " "
WRITES
PUSHG 1
WRITEI
PUSHS " "
WRITES
PUSHS " = "
WRITES
PUSHS " "
WRITES
PUSHG 2
WRITEI
WRITELN
SRC_TABMULT_10:
NOP
PUSHG 1
PUSHG 6
ADD
STOREG 1
DO_TEST_TABMULT_1:
PUSHG 6
PUSHI 0
SUPEQ
JZ DO_NEG_TABMULT_1
PUSHG 1
PUSHG 5
INFEQ
JZ DO_END_TABMULT_1
JUMP DO_BODY_TABMULT_1
DO_NEG_TABMULT_1:
PUSHG 1
PUSHG 5
SUPEQ
JZ DO_END_TABMULT_1
JUMP DO_BODY_TABMULT_1
DO_END_TABMULT_1:
SRC_TABMULT_20:
NOP
PUSHG 0
PUSHG 4
ADD
STOREG 0
DO_TEST_TABMULT_0:
PUSHG 4
PUSHI 0
SUPEQ
JZ DO_NEG_TABMULT_0
PUSHG 0
PUSHG 3
INFEQ
JZ DO_END_TABMULT_0
JUMP DO_BODY_TABMULT_0
DO_NEG_TABMULT_0:
PUSHG 0
PUSHG 3
SUPEQ
JZ DO_END_TABMULT_0
JUMP DO_BODY_TABMULT_0
DO_END_TABMULT_0:
STOP
